<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <title>Raunak Raj Adhikari</title>
</head>
<body>
<div class="container-fluid">

    <h1>URL Shrinker</h1>

    <form action="/" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
        <br>
        <button class="btn btn-success" type="submit">Shrink</button>
    </form>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
                <th>Danger</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach((shortUrl) => { %>
                <tr>
                    <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>

                    <td><a href="/<%= shortUrl.short %>"><%= req.headers.host %>/<%= shortUrl.short %></a></td>

                    <td><%= shortUrl.clicks %></td>
                    
                    <td>
                        <form action="/<%= shortUrl.short %>" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>
</body>
</html>